<!DOCTYPE html>
<html lang="en">    <head>
    {{template "htmlhead"}}
    </head>
    <body class="fixed-nav sticky-footer bg" id="page-top">
        {{template "sidenavi"}}
        
  <!-- Main Content -->
  <div class="content-wrapper">
    <div class="container-fluid">      
      <h1>Eobe Design studio</h1>
      <hr>
      <p> Use eobe to make Ease Of your Backe-End works. To start:</p>
      <ul style="list-style-type:none; padding-left:0">
          <li class="mb-3"> 
              
            <div class="card bg-light">
                <div class="card-header  text-primary">
                  APIXCXXXX
                </div>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item w-100" >
                        descriptionUse eobe to mak Ease Of your Backe-End works. To start:sf Of youre Ease Of your Backe-End works. To start:sf Of your Backe-End works. To sta
                    </li>
                    <li class="list-group-item w-100" >
                        parameters
                        <div>
                        <ul class="list-group list-group-flush ml-3">                            
                            <li class="list-group-item w-100" >
                                description:sfadsf Ease Of your Backe-End works. To sn:sfadsf Ease Of your Bactart:sf Of yourad
                            </li>           
                            <li class="list-group-item w-100" >
                                description:sfadsf Ease Of your Backe-End works. To sn:sfadsf Ease Of your Bactart:sf Of yourad
                            </li>
                        </ul>
                        </div>
                    </li>
                    <li class="list-group-item w-100" >
                        examples
                        <div  class="ml-3">
                        <span>
                        e Of your Ba<br/>cke-End works. T
                        examples<br/>
                        e Of your Backe-End works. T
                        </span>
                        </div>
                    </li>
                </ul>
            </div>
              
          </li>
          <li class="mb-3"> 
            <div class="card bg-light">
                <div class="card-header  text-primary">
                  APIXCXXXX
                </div>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item w-100" >
                        descriptionUse eobe to mak Ease Of your Backe-End works. To start:sf Of youre Ease Of your Backe-End works. To start:sf Of your Backe-End works. To sta
                    </li>
                    <li class="list-group-item w-100" >
                        parameters
                        <div>
                        <ul class="list-group list-group-flush ml-3">                            
                            <li class="list-group-item w-100" >
                                description:sfadsf Ease Of your Backe-End works. To sn:sfadsf Ease Of your Bactart:sf Of yourad
                            </li>           
                            <li class="list-group-item w-100" >
                                description:sfadsf Ease Of your Backe-End works. To sn:sfadsf Ease Of your Bactart:sf Of yourad
                            </li>
                        </ul>
                        </div>
                    </li>
                    <li class="list-group-item w-100" >
                        examples
                        <div  class="ml-3">
                        <span>
                        e Of your Ba<br/>cke-End works. T
                        examples<br/>
                        e Of your Backe-End works. T
                        </span>
                        </div>
                    </li>
                </ul>
            </div>
          </li>
          
          <li class="mb-3"> 
            <div class="card bg-light">
                <div class="card-header  text-primary">
                  APIXCXXXX
                </div>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item w-100" >
                        descriptionUse eobe to mak Ease Of your Backe-End works. To start:sf Of youre Ease Of your Backe-End works. To start:sf Of your Backe-End works. To sta
                    </li>
                    <li class="list-group-item w-100" >
                        parameters
                        <div>
                        <ul class="list-group list-group-flush ml-3">                            
                            <li class="list-group-item w-100" >
                                description:sfadsf Ease Of your Backe-End works. To sn:sfadsf Ease Of your Bactart:sf Of yourad
                            </li>           
                            <li class="list-group-item w-100" >
                                description:sfadsf Ease Of your Backe-End works. To sn:sfadsf Ease Of your Bactart:sf Of yourad
                            </li>
                        </ul>
                        </div>
                    </li>
                    <li class="list-group-item w-100" >
                        examples
                        <div  class="ml-3">
                        <span>
                        e Of your Ba<br/>cke-End works. T
                        examples<br/>
                        e Of your Backe-End works. T
                        </span>
                        </div>
                    </li>
                </ul>
            </div>
          </li>
      </ul>
     </div>
    <!-- /.container-fluid-->
    
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Eobe.com 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    
    
    {{template "aboutmodal"}}
    {{template "delayload"}}
    
  </div>
  <!-- Main Content -->
    
    <!-- Bootstrap core JavaScript-->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script defer src="../js/modulemgr.js"></script>
    
    <!--   $(document).ready -->
    <script>
        $(document).ready(function(){
            $('#collapseConfigurations').collapse('hide');
        })
    </script><!--   $(document).ready -->
    
    <!--End of body -->
</body>

</html>
