<!DOCTYPE html>
<html lang="en">
    <head>
    {{template "htmlhead"}}
    </head>
    <body class="fixed-nav sticky-footer bg" id="page-top">
        {{template "sidenavi"}}
        
  
  
  
  <!-- Main Content -->
  <div class="content-wrapper">
    <div class="container-fluid">
            
      <!-- one cards row: userConstants -->
      <div class="row">
          <div class="col-xl-12 col-sm-12 mb-3">
            <!-- one card -->
            <div class="card bg-light text-primary">
                <div class="card-header">
                  User Constant Values
                </div>
                  
                  <!-- Module List Table -->
                  <li class="list-group-item w-100" >
                          <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <tbody id="tmpltFileTBody" >   
                                  
                                <tr id="trFileRow0"   style="border: 0 transparent">
                                    <td  style="border: 0;">
                                        <div class="row">
                                            <div class="col-xl-3 col-sm-12 mb-3">                                      
                                                <input id="moduleNameElem"
                                                       type="text" class="form-control" 
                                                       placeholder="constant name"
                                                       aria-label="constant name"
                                                       aria-describedby="basic-addon2" style="height: 2.5em">
                                            </div>
                                            <div class="col-xl-9 col-sm-12 mb-3">
                                                <div class="input-group">
                                                  <input type="text" class="form-control" 
                                                         placeholder="constant value" 
                                                         aria-label="constant value" 
                                                         aria-describedby="basic-addon2" style="height: 2.5em">
                                                  <div class="input-group-append">
                                                    <a class="nav-link ml-2 mr-1" href="javascript:void(0);" onclick="addNewRows();" style="font-size: 2em; padding: 0">
                                                        <i class="fas fa-plus-square"></i>
                                                    </a>
                                                     <a class="nav-link ml-1 mr-1 minus" href="javascript:void(0);" onclick="removeNewRows('trFileRow0');" style="font-size: 2em; padding: 0">
                                                        <i class="fas fa-minus-square"></i>
                                                     </a>
                                                  </div>
                                                </div><!--div class="input-group"-->
                                            </div>
                                        </div> <!-- div class="row" -->
                                    </td>
                                </tr> <!-- trFileRow0 -->

                              </tbody>
                            </table>
                          </div>
                  </li><!-- Module List Table -->
                </ul>
            </div> <!-- one card -->
        </div> 
      </div> <!-- one cards row: Modules -->
      
      
      <!-- one cards row: Save button -->
      <div class="row mb-5 ml-3 mr-3">
        <a class="btn btn-primary w-100" href="javascript:void(0);" onclick="saveConstantsClicked()" id="toggleSaveCfg">Save User constants for this module</a>
      </div> <!-- one cards row: Modules -->
      
    
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    
    </div>  <!-- /.container-fluid-->
  
    <!-- error Modal-->
    <div class="modal fade" id="errorDialogModal" tabindex="-1" role="dialog" aria-labelledby="errorDialogModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="errorDialogModalLabel"> Error </h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
            <div class="modal-body">
                <span id="errorDialogModalErrorMsg"></span>
            </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-dismiss="modal">dismiss</button>
          </div>
        </div>
      </div>
    </div><!-- error Modal-->
    
    {{template "aboutmodal"}}
    {{template "delayload"}}
  </div>
  <!-- Main Content -->
    
    <!-- Bootstrap core JavaScript-->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script defer src="../js/modulemgr.js"></script>
    <!--   $(document).ready -->
    <script>
        $(document).ready(function(){
            $('#collapseConfigurations').collapse('hide');
            initModuleNaviLinks();
        });
        
        var lastIndex = 1;
        function addNewRows(){
            lastIndex++;
            var newTr = $("#trFileRow0").clone();
            var newTrID = "trFileRow" + lastIndex;
            newTr.attr("id", newTrID);
            var removeFunc = "removeNewRows('"+ newTrID + "');"
            newTr.find(".minus").attr("onclick", removeFunc);
            newTr.appendTo("#tmpltFileTBody");
        }
        
        function removeNewRows(trId){
            if(trId=="trFileRow0"){
                var errMsgStr = "Cannot remove the first row."
                $('#errorDialogModal').find("#errorDialogModalErrorMsg").html(errMsgStr);
                $('#errorDialogModal').modal('toggle');
                return;
            }
            $("#"+trId).remove();
        }
        
        function saveModulesClicked(){
        }
    </script><!--   $(document).ready -->
    
   
     
  </body> <!--End of body -->

</html>
